

<!-- 1. extend from base-->

{% block title %}
	Survey
{% endblock %}

{% block header %}
	<!-- super function here -->
	<form action="logout" id="logout">
		<span id="username">Logged in as {{ name }}</span>
		<input class="action-button" id="logout-button" type="submit" value="Logout">
	</form>
{% endblock %}


<!-- 1. extend from content block from the base-->
	<div class="main-container">
		<h3>Your Favorites</h3>
		<label class="survey-item sm-label">Favorite color?
			<input class="sm-input" type="text" name="color"></label>
		<label class="survey-item sm-label">Favorite food?
			<input class="sm-input" type="text" name="food"></label>
		<label class="survey-item sm-label">Favorite vacation spot?
			<input class="sm-input" type="text" name="vacation"></label>

		<h3>Front-End Improvement</h3>
		<label class="survey-item sm-label">What was your front end proficiency before IO Lab?
			<input type="range" min="1" max="5" step=".5" name="front-end-before" id="fe-before"><span></span></label>
		<label class="survey-item sm-label">How about after the front-end module?
			<input type="range" min="1" max="5" step=".5" name="front-end-after" id="fe-after"><span></span></label><br><br>

		<button class="action-button" id="submit-survey">Submit</button>
</div>
